
.card-image {
  position: relative!important;
  overflow: hidden!important;
}

.card-image img {
  width: 100%!important;
  height: 400px!important;
  object-fit: cover!important; /* Ajusta la imagen para cubrir completamente el contenedor sin perder la relación de aspecto */
  object-position: center!important; /* Centra la imagen en el contenedor */
}

.card-title {
  position: absolute!important;
  bottom: 0!important;
  left: 0!important;
  right: 0!important;
  background: rgba(0, 0, 0, 0.5)!important; /* Fondo semitransparente para que el texto sea legible */
  color: #fff!important;
  padding: 10px!important;
  text-align: center!important;
}
.mt-10{
	margin-top: 35px!important;
}